absl-py==0.1.10
appnope==0.1.0
arrow==0.12.1
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
beautifulsoup4==4.6.0
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.14
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
configparser==3.5.0
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
datashape==0.5.2
DateTime==4.2
decorator==4.2.1
entrypoints==0.2.3
falcon==1.4.1
Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==19.8.1
html5lib==0.9999999
hyperlink==17.3.1
idna==2.6
importlib==1.0.4
incremental==17.5.0
influxdb==5.0.0
ipykernel==4.8.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
Js2Py==0.59
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
MesoPy==2.0.3
mistune==0.8.3
mpmath==1.0.0
multipledispatch==0.4.9
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.4.0
numexpr==2.6.4
numpy==1.14.0
odo==0.5.0
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
parsel==1.4.0
parso==0.1.1
patsy==0.5.0
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.1
psutil==5.4.3
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pyjsparser==2.5.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2017.3
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
queuelib==1.4.2
requests==2.18.4
rfc3339==6.0
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==2.6.1
seaborn==0.8.1
selenium==3.9.0
Send2Trash==1.4.2
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.2
statsmodels==0.8.0
strconv==0.4.2
sympy==1.1.1
tables==3.4.2
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==4.5.3
traitlets==4.3.2
Twisted==17.9.0
tzlocal==1.5.1
urllib3==1.22
virtualenv==15.1.0
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.4
zope.interface==4.4.3
